* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #20202D;
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 945px;
  width: 90%;
  margin: auto;
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(0deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}

.social-link {
  margin-left: 20px;
  font-size: 0;
}

.hero-subtitle {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #FFBB01;
  margin-bottom: 14px;
}

.hero-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px;
  padding-bottom: 45px;
}

.button {
  background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
  box-shadow: 0px 4px 0px #B68500;
  border: none;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: inherit;

  }

.hero-avatar {
  width: 390px;
  height: 390px;
  background-color: #fff;
  border-radius: 50%;
  background: url(../img/myavatar.jpg) no-repeat left top -80px;
  background-size: 120%;
  background-clip: content-box;
  border: 13px solid white;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.section {
  padding-top: 64px;
  padding-bottom: 92px;
}

.section-title {
  margin: 0;
  margin-bottom: 84px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

/* features */

.features {
  background-color: black;
}

.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}

.features-image {
  display: block;
  margin-bottom: 22px;
}

.features-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.features-text {
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

/* projects  */
.projects {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.projects-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project-image {
  max-width: 340px;
  max-height: 270px;
  border-radius: 5px;
}

.project-text {
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
}

.project-title {
  flex-basis: 100%;

  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 41px;
}

.project-time,
.project-cost {
  flex-basis: 50%;
}

.project-time,
.project-cost,
.project-feedback {
  display: flex;
  align-items: flex-start;
}

.project-icon {
  margin-right: 16px;
}

.project-subtitle {
  margin: 0;
  margin-bottom: 7px;

  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.project-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}


.project-feedback {
  margin-top: 44px;
}

.projects-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}

.projects-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid #FFBB01;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}

.projects-bullet-active {
  background-color: #FFBB01;
}

/* contacts */

.form-title {
  margin: 0;
  margin-bottom: 29px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 0;
}

input {
  background: #F8F8F8;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 20px;
  padding-left: 50px;
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 28px;
}

.input-name {
  margin-bottom: 17px;
  background-image: url(../img/user-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.input-phone {
  margin-bottom: 17px;
  background-image: url(../img/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.form-button {
  width: 100%;
  margin: 0;
}

.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 148px;
}

.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.contacts-text {
  flex-basis: 50%;
}

.contacts-form {
  padding: 40px 35px 49px 35px;
  max-width: 380px;
  background: #FFFFFF;
  box-shadow: -5px 5px 0px #FFC41D;
  border-radius: 5px;
}


.contacts-phone,
.contacts-email {
  flex-basis: 50%;
  margin-bottom: 53px;
}

.contacts-social {
  flex-basis: 100%;
}

.social-title {
  flex-basis: 100%;
}

.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-link {
  text-decoration: none;
  color: inherit;
  padding-right: 27px;
}

.contacts-link:hover {
  text-decoration: underline;
}

.social-link:first-child {
  margin-left: 0;
}

.contacts-policy {
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #A5A5A5;
  display: inline-block;
  margin-top: 72px;
}

/* responsive (стили для адаптива) */

@media (max-width: 1100px) {
  .hero-avatar {
    width: 300px;
    height: 300px;
    border-width: 10px;
    background-position: left 45%;
  }
}

@media (max-width: 836px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-avatar {
    order: 0;
    margin: auto;
    margin-bottom: 17px;
  }

  .hero-text {
    order: 1;
    text-align: center;
  }

  .hero-description {
    margin: auto;
  }

  .features-item {
    flex-basis: 45%;
  }

  .swiper-slide {
    flex-direction: column;
  }

  .project-image {
    margin-bottom: 46px;
  }

  .contacts-block {
    align-items: flex-start;
    flex-direction: column;
  }

  .contacts-form {
    margin-bottom: 64px;
  }

  .contacts-block {
    margin-bottom: 50px;
  }

  .section {
    padding-bottom: 40px;
  }
}

@media(max-width: 564px) {
  .social-link {
    margin-left: 5px;
    margin-right: 5px;
  }

  .hero-header {
    margin-bottom: 40px;
  }

  .hero-subtitle {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 4px;
  }

  .hero-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
  }

  .hero-avatar {
    width: 113px;
    height: 113px;
    border-width: 4px;
  }


  .hero-description {
    font-size: 14px;
    line-height: 140%;
    text-align: center;
  }

  .button {
    font-size: 10px;
    line-height: 12px;
    margin-top: 34px;
  }

  .section-title {
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 50px;
  }

  .section {
    padding-top: 63px;
    padding-bottom: 0px;
  }

  .features-item {
    flex-basis: 100%;
  }

  .features-title {
    font-size: 18px;
    line-height: 28px;
  }

  .features-text {
    font-size: 14px;
    line-height: 28px;
  }

  .project-title {
    font-size: 18px;
    line-height: 150%;
  }

  .project-time,
  .project-cost {
    flex-basis: 90%;
    margin-bottom: 33px;
  }

  .project-feedback {
    margin-top: 0;
  }

  .project-paragraph {
    font-size: 14px;
    line-height: 150%;
  }

  .contacts-email,
  .contacts-phone {
    flex-basis: 100%;
    margin-bottom: 35px;
  }

  .form-title {
    font-size: 15px;
    line-height: 140%;
  }

  .contacts-form {
    padding: 40px 19px;
  }

  .contacts-title {
    font-size: 18px;
    line-height: 21px;
  }

  .contacts-social {
    display: flex;
    flex-direction: column;
  }

  .contacts-link {
    flex-basis: 100%;
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 16px;
  }

  .contacts-policy {
    margin-top: 26px;
  }

}